## Preprocessing

In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd
application_df = pd.read_csv("https://static.bc-edx.com/data/dla-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df = application_df.drop(columns = ['EIN', 'NAME', 'STATUS', 'SPECIAL_CONSIDERATIONS'])
application_df

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,INCOME_AMT,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,0,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1-9999,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,0,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,10000-24999,6692,1
4,T3,Independent,C1000,Heathcare,Trust,100000-499999,142590,1
...,...,...,...,...,...,...,...,...
34294,T4,Independent,C1000,ProductDev,Association,0,5000,0
34295,T4,CompanySponsored,C3000,ProductDev,Association,0,5000,0
34296,T3,CompanySponsored,C2000,Preservation,Association,0,5000,0
34297,T5,Independent,C3000,ProductDev,Association,0,5000,1
34298,T3,Independent,C1000,Preservation,Co-operative,1M-5M,36500179,0

In [3]:
# Determine the number of unique values in each column.
application_df.nunique()

APPLICATION_TYPE      17
AFFILIATION            6
CLASSIFICATION        71
USE_CASE               5
ORGANIZATION           4
INCOME_AMT             9
ASK_AMT             8747
IS_SUCCESSFUL          2
dtype: int64

In [4]:
# Look at APPLICATION_TYPE value counts for binning
app_type_count = application_df['APPLICATION_TYPE'].value_counts()
app_type_count

APPLICATION_TYPE
T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: count, dtype: int64

In [5]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace = list(app_type_count[app_type_count < 600].index)

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

APPLICATION_TYPE
T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
Other      804
T8         737
T7         725
Name: count, dtype: int64

In [6]:
# Look at CLASSIFICATION value counts for binning
#  YOUR CODE GOES HERE
class_type_count = application_df['CLASSIFICATION'].value_counts()
class_type_count.head(30)

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
Name: count, dtype: int64

In [7]:
# You may find it helpful to look at CLASSIFICATION value counts >1
class_count = application_df['CLASSIFICATION'].value_counts()

# Filter value counts to include only counts greater than 1
class_count_gt1 = class_count[class_count > 1]

# Display the filtered value counts
print(class_count_gt1)

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: count, dtype: int64

In [8]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace = list(class_count[class_count < 300].index)

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")

# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
Other     1484
C7000      777
Name: count, dtype: int64

In [9]:
# Convert categorical data to numeric with `pd.get_dummies`
#  YOUR CODE GOES HERE
numeric_app_df = pd.get_dummies(application_df)
numeric_app_df

,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,APPLICATION_TYPE_T7,APPLICATION_TYPE_T8,...,ORGANIZATION_Trust,INCOME_AMT_0,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M
0,5000,1,True,False,False,False,False,False,False,False,...,False,True,False,False,False,False,False,False,False,False
1,108590,1,False,False,True,False,False,False,False,False,...,False,False,True,False,False,False,False,False,False,False
2,5000,0,False,False,False,False,True,False,False,False,...,False,True,False,False,False,False,False,False,False,False
3,6692,1,False,False,True,False,False,False,False,False,...,True,False,False,True,False,False,False,False,False,False
4,142590,1,False,False,True,False,False,False,False,False,...,True,False,False,False,True,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34294,5000,0,False,False,False,True,False,False,False,False,...,False,True,False,False,False,False,False,False,False,False
34295,5000,0,False,False,False,True,False,False,False,False,...,False,True,False,False,False,False,False,False,False,False
34296,5000,0,False,False,True,False,False,False,False,False,...,False,True,False,False,False,False,False,False,False,False
34297,5000,1,False,False,False,False,True,False,False,False,...,False,True,False,False,False,False,False,False,False,False
34298,36500179,0,False,False,True,False,False,False,False,False,...,False,False,False,False,False,False,True,False,False,False

In [10]:
# Split our preprocessed data into our features and target arrays
#  YOUR CODE GOES HERE
y = numeric_app_df["IS_SUCCESSFUL"]
X = numeric_app_df.drop(["IS_SUCCESSFUL"],axis=1)

# Split the preprocessed data into a training and testing dataset
#  YOUR CODE GOES HERE
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=78)

In [11]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [13]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
#  YOUR CODE GOES HERE
number_input_features = len(X_train_scaled[0])
hidden_nodes_layer1 = 80
hidden_nodes_layer2 = 30

nn = tf.keras.models.Sequential()


# First hidden layer
#  YOUR CODE GOES HERE
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer1, activation="relu", input_dim=number_input_features))
# Second hidden layer
#  YOUR CODE GOES HERE
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="relu", input_dim=number_input_features))

# Output layer
#  YOUR CODE GOES HERE
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))
# Check the structure of the model
nn.summary()

C:\Users\Will\anaconda3\Lib\site-packages\keras\src\layers\core\dense.py:88: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

Model: "sequential"

┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━┓
┃ Layer (type)                         ┃ Output Shape                ┃         Param # ┃
┡━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━┩
│ dense (Dense)                        │ (None, 80)                  │           3,280 │
├──────────────────────────────────────┼─────────────────────────────┼─────────────────┤
│ dense_1 (Dense)                      │ (None, 30)                  │           2,430 │
├──────────────────────────────────────┼─────────────────────────────┼─────────────────┤
│ dense_2 (Dense)                      │ (None, 1)                   │              31 │
└──────────────────────────────────────┴─────────────────────────────┴─────────────────┘

 Total params: 5,741 (22.43 KB)

 Trainable params: 5,741 (22.43 KB)

 Non-trainable params: 0 (0.00 B)

In [16]:
# Compile the model
#  YOUR CODE GOES HERE
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [18]:
# Train the model
#  YOUR CODE GOES HERE
fit_model = nn.fit(X_train_scaled, y_train, epochs=100)

Epoch 1/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 793us/step - accuracy: 0.7399 - loss: 0.5313
Epoch 2/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 818us/step - accuracy: 0.7408 - loss: 0.5327
Epoch 3/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 888us/step - accuracy: 0.7405 - loss: 0.5309
Epoch 4/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 933us/step - accuracy: 0.7431 - loss: 0.5313
Epoch 5/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 996us/step - accuracy: 0.7399 - loss: 0.5340
Epoch 6/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 878us/step - accuracy: 0.7412 - loss: 0.5332
Epoch 7/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 822us/step - accuracy: 0.7440 - loss: 0.5295
Epoch 8/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 841us/step - accuracy: 0.7431 - loss: 0.5304
Epoch 9/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 801us/step - accuracy: 0.7445 - loss: 0.5281
Epoch 10/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 835us/step - accuracy: 0.7456 - loss: 0.5287
Epoch 11/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 886us/step - accuracy: 0.7372 - loss: 0.5360
Epoch 12/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 918us/step - accuracy: 0.7396 - loss: 0.5345
Epoch 13/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 859us/step - accuracy: 0.7455 - loss: 0.5243
Epoch 14/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - accuracy: 0.7447 - loss: 0.5272
Epoch 15/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 923us/step - accuracy: 0.7386 - loss: 0.5343
Epoch 16/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 924us/step - accuracy: 0.7451 - loss: 0.5275
Epoch 17/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 922us/step - accuracy: 0.7429 - loss: 0.5298
Epoch 18/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 843us/step - accuracy: 0.7414 - loss: 0.5315
Epoch 19/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 884us/step - accuracy: 0.7429 - loss: 0.5265
Epoch 20/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 813us/step - accuracy: 0.7459 - loss: 0.5265
Epoch 21/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 826us/step - accuracy: 0.7410 - loss: 0.5320
Epoch 22/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 877us/step - accuracy: 0.7434 - loss: 0.5319
Epoch 23/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 826us/step - accuracy: 0.7447 - loss: 0.5269
Epoch 24/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 812us/step - accuracy: 0.7417 - loss: 0.5307
Epoch 25/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 827us/step - accuracy: 0.7473 - loss: 0.5226
Epoch 26/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 816us/step - accuracy: 0.7459 - loss: 0.5303
Epoch 27/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 814us/step - accuracy: 0.7418 - loss: 0.5310
Epoch 28/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 838us/step - accuracy: 0.7461 - loss: 0.5278
Epoch 29/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 808us/step - accuracy: 0.7409 - loss: 0.5342
Epoch 30/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 813us/step - accuracy: 0.7407 - loss: 0.5299
Epoch 31/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 822us/step - accuracy: 0.7456 - loss: 0.5278
Epoch 32/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 815us/step - accuracy: 0.7414 - loss: 0.5340
Epoch 33/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 827us/step - accuracy: 0.7432 - loss: 0.5294
Epoch 34/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 838us/step - accuracy: 0.7406 - loss: 0.5310
Epoch 35/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 807us/step - accuracy: 0.7375 - loss: 0.5343
Epoch 36/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 845us/step - accuracy: 0.7410 - loss: 0.5311
Epoch 37/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 893us/step - accuracy: 0.7407 - loss: 0.5309
Epoch 38/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 869us/step - accuracy: 0.7470 - loss: 0.5263
Epoch 39/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 853us/step - accuracy: 0.7450 - loss: 0.5281
Epoch 40/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 841us/step - accuracy: 0.7435 - loss: 0.5300
Epoch 41/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 848us/step - accuracy: 0.7416 - loss: 0.5319
Epoch 42/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 846us/step - accuracy: 0.7449 - loss: 0.5251
Epoch 43/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 893us/step - accuracy: 0.7440 - loss: 0.5284
Epoch 44/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 869us/step - accuracy: 0.7406 - loss: 0.5289
Epoch 45/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 870us/step - accuracy: 0.7446 - loss: 0.5272
Epoch 46/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 843us/step - accuracy: 0.7444 - loss: 0.5295
Epoch 47/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 818us/step - accuracy: 0.7453 - loss: 0.5288
Epoch 48/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 858us/step - accuracy: 0.7426 - loss: 0.5325
Epoch 49/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 843us/step - accuracy: 0.7427 - loss: 0.5286
Epoch 50/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 882us/step - accuracy: 0.7373 - loss: 0.5352
Epoch 51/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 858us/step - accuracy: 0.7442 - loss: 0.5321
Epoch 52/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 869us/step - accuracy: 0.7422 - loss: 0.5303
Epoch 53/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 824us/step - accuracy: 0.7428 - loss: 0.5278
Epoch 54/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 854us/step - accuracy: 0.7484 - loss: 0.5244
Epoch 55/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 864us/step - accuracy: 0.7473 - loss: 0.5245
Epoch 56/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 854us/step - accuracy: 0.7465 - loss: 0.5277
Epoch 57/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 884us/step - accuracy: 0.7430 - loss: 0.5292
Epoch 58/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 862us/step - accuracy: 0.7412 - loss: 0.5315
Epoch 59/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 872us/step - accuracy: 0.7442 - loss: 0.5308
Epoch 60/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 831us/step - accuracy: 0.7463 - loss: 0.5269
Epoch 61/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 842us/step - accuracy: 0.7434 - loss: 0.5300
Epoch 62/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 842us/step - accuracy: 0.7437 - loss: 0.5278
Epoch 63/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 803us/step - accuracy: 0.7467 - loss: 0.5297
Epoch 64/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 840us/step - accuracy: 0.7436 - loss: 0.5278
Epoch 65/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 836us/step - accuracy: 0.7423 - loss: 0.5320
Epoch 66/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 929us/step - accuracy: 0.7420 - loss: 0.5285
Epoch 67/100

804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 903us/step - accuracy: 0.7422 - loss: 0.5284
Epoch 68/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 863us/step - accuracy: 0.7453 - loss: 0.5275
Epoch 69/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 825us/step - accuracy: 0.7459 - loss: 0.5257
Epoch 70/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 808us/step - accuracy: 0.7448 - loss: 0.5274
Epoch 71/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 805us/step - accuracy: 0.7435 - loss: 0.5313
Epoch 72/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 822us/step - accuracy: 0.7390 - loss: 0.5348
Epoch 73/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 837us/step - accuracy: 0.7430 - loss: 0.5297
Epoch 74/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 803us/step - accuracy: 0.7404 - loss: 0.5306
Epoch 75/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 820us/step - accuracy: 0.7472 - loss: 0.5270
Epoch 76/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 792us/step - accuracy: 0.7431 - loss: 0.5333
Epoch 77/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 808us/step - accuracy: 0.7430 - loss: 0.5266
Epoch 78/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 924us/step - accuracy: 0.7406 - loss: 0.5304
Epoch 79/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 857us/step - accuracy: 0.7445 - loss: 0.5277
Epoch 80/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 813us/step - accuracy: 0.7435 - loss: 0.5292
Epoch 81/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 836us/step - accuracy: 0.7433 - loss: 0.5299
Epoch 82/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 838us/step - accuracy: 0.7454 - loss: 0.5274
Epoch 83/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 830us/step - accuracy: 0.7433 - loss: 0.5275
Epoch 84/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 853us/step - accuracy: 0.7454 - loss: 0.5280
Epoch 85/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 813us/step - accuracy: 0.7387 - loss: 0.5339
Epoch 86/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 798us/step - accuracy: 0.7464 - loss: 0.5263
Epoch 87/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 826us/step - accuracy: 0.7390 - loss: 0.5338
Epoch 88/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 797us/step - accuracy: 0.7432 - loss: 0.5297
Epoch 89/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 800us/step - accuracy: 0.7395 - loss: 0.5326
Epoch 90/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 837us/step - accuracy: 0.7443 - loss: 0.5263
Epoch 91/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 818us/step - accuracy: 0.7427 - loss: 0.5289
Epoch 92/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 826us/step - accuracy: 0.7377 - loss: 0.5365
Epoch 93/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 861us/step - accuracy: 0.7461 - loss: 0.5246
Epoch 94/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 814us/step - accuracy: 0.7412 - loss: 0.5301
Epoch 95/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 806us/step - accuracy: 0.7411 - loss: 0.5320
Epoch 96/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 840us/step - accuracy: 0.7401 - loss: 0.5300
Epoch 97/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 807us/step - accuracy: 0.7457 - loss: 0.5231
Epoch 98/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 813us/step - accuracy: 0.7418 - loss: 0.5289
Epoch 99/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 835us/step - accuracy: 0.7370 - loss: 0.5353
Epoch 100/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 805us/step - accuracy: 0.7415 - loss: 0.5307

In [20]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - 696us/step - accuracy: 0.7256 - loss: 0.5797
Loss: 0.5797033309936523, Accuracy: 0.7255976796150208

In [21]:
# Export our model to HDF5 file
#  YOUR CODE GOES HERE

nn.save("AlphabetSOupCharity.h5")

WARNING:absl:You are saving your model as an HDF5 file via `model.save()` or `keras.saving.save_model(model)`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')` or `keras.saving.save_model(model, 'my_model.keras')`.